# Общая группа серверов 1С Предприятия
[srv1c:children]
srv1c_cs
srv1c_ls
srv1c_ws

# Группа центральных серверов 1С Предприятия
[srv1c_cs]
localhost

# Группа серверов лицензирования 1С Предприятия
[srv1c_ls]
localhost

# Группа рабочих серверов 1С Предприятия
[srv1c_ws]
localhost
